{
  "version": "2018-05-29",
  "statements": [
    "DELETE FROM STEP_SERVICE_MAPPING WHERE STEP_SERVICE_MAPPING_ID = :STEP_SERVICE_MAPPING_ID"
  ],
  "variableMap": {
    ":STEP_SERVICE_MAPPING_ID": $ctx.args.input.STEP_SERVICE_MAPPING_ID
  }
}