{
  "version": "2018-05-29",
  "statements": [
    #set($insertStatement = "INSERT INTO STEP_TYPE_PARAM_MAP (")
    #set($valuesStatement = " VALUES (")
    #set($first = true)
    #foreach($entry in $ctx.args.input.entrySet())
      #if($entry.value)
        #if(!$first)
          #set($insertStatement = "$insertStatement, ")
          #set($valuesStatement = "$valuesStatement, ")
        #end
        #set($insertStatement = "$insertStatement$entry.key")
        #set($valuesStatement = "$valuesStatement'$entry.value'")
        #set($first = false)
      #end
    #end
    #set($insertStatement = "$insertStatement)$valuesStatement)")
    "$insertStatement"
  ]
}