{
  "version": "2018-05-29",
  "statements": [
    "DELETE FROM SERVICE_PROVIDER WHERE SERVICE_PROVIDER_ID = :SERVICE_PROVIDER_ID"
  ],
  "variableMap": {
    ":SERVICE_PROVIDER_ID": $ctx.args.input.SERVICE_PROVIDER_ID
  }
}