{
  "version": "2018-05-29",
  "statements": [
    #set($updateStatement = "UPDATE SERVICE_PARAM SET ")
    #set($first = true)
    #foreach($entry in $ctx.args.input.entrySet())
      #if($entry.key != "SERVICE_PARAM_ID" && $entry.value)
        #if(!$first)
          #set($updateStatement = "$updateStatement, ")
        #end
        #set($updateStatement = "$updateStatement$entry.key = '$entry.value'")
        #set($first = false)
      #end
    #end
    #set($updateStatement = "$updateStatement WHERE SERVICE_PARAM_ID = '$ctx.args.input.SERVICE_PARAM_ID'")
    "$updateStatement"
  ]
}