#if($ctx.error)
  $util.error($ctx.error.message, $ctx.error.type)
#end

{
  "ORIGIN_PRODUCT_ID": $ctx.args.input.ORIGIN_PRODUCT_ID,
  "VENDOR_NAME": "$ctx.args.input.VENDOR_NAME",
  "PRODUCT_ID": "$ctx.args.input.PRODUCT_ID",
  "PRODUCT_DESC": "$ctx.args.input.PRODUCT_DESC",
  "PSCU_CLIENT_ID": $ctx.args.input.PSCU_CLIENT_ID,
  "PARTNER_CODE": "$ctx.args.input.PARTNER_CODE",
  "CREATED_BY_USER_ID": 1,
  "CREATED_DATE": "2024-01-01",
  "CHANGED_BY_USER_ID": $ctx.args.input.CHANGED_BY_USER_ID,
  "CHANGED_DATE": "$ctx.args.input.CHANGED_DATE"
}