{
  "version": "2018-05-29",
  "statements": [
    "DELETE FROM SERVICE_PARAM_MAPPING WHERE SERVICE_PARAM_MAPPING_ID = :SERVICE_PARAM_MAPPING_ID"
  ],
  "variableMap": {
    ":SERVICE_PARAM_MAPPING_ID": $ctx.args.input.SERVICE_PARAM_MAPPING_ID
  }
}