#set($insert = "
  INSERT INTO SERVICE_DOMAIN
    (DOMAIN_URL, SERVICE_PROVIDER_ID, CREATED_DATE, CHANGED_DATE)
  VALUES
    (:DOMAIN_URL, :SERVICE_PROVIDER_ID, COALESCE(:CREATED_DATE, NOW()), :CHANGED_DATE)
")
#set($select = "
  SELECT
    SERVICE_DOMAIN_ID, DOMAIN_URL, SERVICE_PROVIDER_ID, CREATED_DATE, CHANGED_DATE
  FROM SERVICE_DOMAIN
  WHERE DOMAIN_URL = :DOMAIN_URL
  ORDER BY SERVICE_DOMAIN_ID DESC
  LIMIT 1
")
{
  "version": "2018-05-29",
  "statements": [
    "$util.escapeJavaScript($insert)",
    "$util.escapeJavaScript($select)"
  ],
  "variableMap": {
    ":DOMAIN_URL": $util.toJson($util.defaultIfNull($ctx.args.input.DOMAIN_URL, null)),
    ":SERVICE_PROVIDER_ID": $util.toJson($ctx.args.input.SERVICE_PROVIDER_ID),
    ":CREATED_DATE": $util.toJson($util.defaultIfNull($ctx.args.input.CREATED_DATE, null)),
    ":CHANGED_DATE": $util.toJson($util.defaultIfNull($ctx.args.input.CHANGED_DATE, null))
  }
}