#set($update = "
  UPDATE SERVICE_PARAM
  SET SERVICE_ID = COALESCE(:SERVICE_ID, SERVICE_ID), PARAM_NAME = COALESCE(:PARAM_NAME, PARAM_NAME), CREATED_BY_USER_ID = COALESCE(:CREATED_BY_USER_ID, CREATED_BY_USER_ID), CREATED_DATE = COALESCE(:CREATED_DATE, CREATED_DATE), CHANGED_BY_USER_ID = COALESCE(:CHANGED_BY_USER_ID, CHANGED_BY_USER_ID), CHANGED_DATE = COALESCE(:CHANGED_DATE, NOW())
  WHERE SERVICE_PARAM_ID = :SERVICE_PARAM_ID
")
#set($select = "
  SELECT SERVICE_PARAM_ID, SERVICE_ID, PARAM_NAME, CREATED_BY_USER_ID, CREATED_DATE, CHANGED_BY_USER_ID, CHANGED_DATE
  FROM SERVICE_PARAM
  WHERE SERVICE_PARAM_ID = :SERVICE_PARAM_ID
")
{
  "version": "2018-05-29",
  "statements": [
    "$util.escapeJavaScript($update)",
    "$util.escapeJavaScript($select)"
  ],
  "variableMap": {
    ":SERVICE_PARAM_ID": $util.toJson($ctx.args.input.SERVICE_PARAM_ID),
    ":SERVICE_ID": $util.toJson($util.defaultIfNull($ctx.args.input.SERVICE_ID, null)),
    ":PARAM_NAME": $util.toJson($util.defaultIfNull($ctx.args.input.PARAM_NAME, null)),
    ":CREATED_BY_USER_ID": $util.toJson($util.defaultIfNull($ctx.args.input.CREATED_BY_USER_ID, null)),
    ":CREATED_DATE": $util.toJson($util.defaultIfNull($ctx.args.input.CREATED_DATE, null)),
    ":CHANGED_BY_USER_ID": $util.toJson($util.defaultIfNull($ctx.args.input.CHANGED_BY_USER_ID, null)),
    ":CHANGED_DATE": $util.toJson($util.defaultIfNull($ctx.args.input.CHANGED_DATE, null))
  }
}