{
  "version": "2018-05-29",
  "statements": [
    "INSERT INTO REDIRECT_URL (ORIGIN_PRODUCT_ID, URL_TYPE_CODE, URL, RESPONSE_TEXT, CREATED_BY_USER_ID, CREATED_DATE) VALUES (:ORIGIN_PRODUCT_ID, :URL_TYPE_CODE, :URL, :RESPONSE_TEXT, :CREATED_BY_USER_ID, :CREATED_DATE)"
  ],
  "variableMap": {
    ":ORIGIN_PRODUCT_ID": $util.toJson($ctx.args.input.ORIGIN_PRODUCT_ID),
    ":URL_TYPE_CODE": $util.toJson($ctx.args.input.URL_TYPE_CODE),
    ":URL": $util.toJson($ctx.args.input.URL),
    ":RESPONSE_TEXT": $util.toJson($ctx.args.input.RESPONSE_TEXT),
    ":CREATED_BY_USER_ID": $util.toJson($ctx.args.input.CREATED_BY_USER_ID),
    ":CREATED_DATE": $util.toJson($ctx.args.input.CREATED_DATE)
  }
}