#if($ctx.result.sqlStatementResults[0].records && $ctx.result.sqlStatementResults[0].records.size() > 0)
  $util.toJson($ctx.result.sqlStatementResults[0].records[0])
#else
  $util.toJson($ctx.args.input)
#end