{
  "version": "2018-05-29",
  "statements": [
    "UPDATE STEP_SERVICE_MAPPING SET STEP_TYPE_ID = :STEP_TYPE_ID, SERVICE_ID = :SERVICE_ID, SEQUENCE_NBR = :SEQUENCE_NBR WHERE STEP_SERVICE_MAPPING_ID = :STEP_SERVICE_MAPPING_ID",
    "SELECT * FROM STEP_SERVICE_MAPPING WHERE STEP_SERVICE_MAPPING_ID = :STEP_SERVICE_MAPPING_ID"
  ],
  "variableMap": {
    ":STEP_SERVICE_MAPPING_ID": $ctx.args.input.STEP_SERVICE_MAPPING_ID,
    ":STEP_TYPE_ID": $ctx.args.input.STEP_TYPE_ID,
    ":SERVICE_ID": $ctx.args.input.SERVICE_ID,
    ":SEQUENCE_NBR": $ctx.args.input.SEQUENCE_NBR
  }
}