{
  "version": "2018-05-29",
  "statements": [
    #set($updates = [])
    #foreach($entry in $ctx.args.input.entrySet())
      #if($entry.key != "SERVICE_PROVIDER_ID" && $entry.value)
        $util.qr($updates.add("$entry.key = '$entry.value'"))
      #end
    #end
    "UPDATE SERVICE_PROVIDER SET $util.str.join($updates, ', ') WHERE SERVICE_PROVIDER_ID = '$ctx.args.input.SERVICE_PROVIDER_ID'"
  ]
}