{
  "version": "2018-05-29",
  "statements": [
    #set($updates = [])
    #foreach($entry in $ctx.args.input.entrySet())
      #if($entry.key != "ORIGIN_PRODUCT_ID" && $entry.value)
        $util.qr($updates.add("$entry.key = '$entry.value'"))
      #end
    #end
    "UPDATE ORIGIN_PRODUCT SET $util.str.join($updates, ', ') WHERE ORIGIN_PRODUCT_ID = '$ctx.args.input.ORIGIN_PRODUCT_ID'"
  ]
}