#set($update = "
  UPDATE SERVICE
  SET SERVICE_PROVIDER_ID = COALESCE(:SERVICE_PROVIDER_ID, SERVICE_PROVIDER_ID), URI = COALESCE(:URI, URI), SECRET_NAME = COALESCE(:SECRET_NAME, SECRET_NAME), REQUEST_TYPE = COALESCE(:REQUEST_TYPE, REQUEST_TYPE), CREATED_BY_USER_ID = COALESCE(:CREATED_BY_USER_ID, CREATED_BY_USER_ID), CREATED_DATE = COALESCE(:CREATED_DATE, CREATED_DATE), CHANGED_BY_USER_ID = COALESCE(:CHANGED_BY_USER_ID, CHANGED_BY_USER_ID), CHANGED_DATE = COALESCE(:CHANGED_DATE, NOW())
  WHERE SERVICE_ID = :SERVICE_ID
")
#set($select = "
  SELECT SERVICE_ID, SERVICE_PROVIDER_ID, URI, SECRET_NAME, REQUEST_TYPE, CREATED_BY_USER_ID, CREATED_DATE, CHANGED_BY_USER_ID, CHANGED_DATE
  FROM SERVICE
  WHERE SERVICE_ID = :SERVICE_ID
")
{
  "version": "2018-05-29",
  "statements": [
    "$util.escapeJavaScript($update)",
    "$util.escapeJavaScript($select)"
  ],
  "variableMap": {
    ":SERVICE_ID": $util.toJson($ctx.args.input.SERVICE_ID),
    ":SERVICE_PROVIDER_ID": $util.toJson($util.defaultIfNull($ctx.args.input.SERVICE_PROVIDER_ID, null)),
    ":URI": $util.toJson($util.defaultIfNull($ctx.args.input.URI, null)),
    ":SECRET_NAME": $util.toJson($util.defaultIfNull($ctx.args.input.SECRET_NAME, null)),
    ":REQUEST_TYPE": $util.toJson($util.defaultIfNull($ctx.args.input.REQUEST_TYPE, null)),
    ":CREATED_BY_USER_ID": $util.toJson($util.defaultIfNull($ctx.args.input.CREATED_BY_USER_ID, null)),
    ":CREATED_DATE": $util.toJson($util.defaultIfNull($ctx.args.input.CREATED_DATE, null)),
    ":CHANGED_BY_USER_ID": $util.toJson($util.defaultIfNull($ctx.args.input.CHANGED_BY_USER_ID, null)),
    ":CHANGED_DATE": $util.toJson($util.defaultIfNull($ctx.args.input.CHANGED_DATE, null))
  }
}