#set($preimage = "
  SELECT SORT_CRITERIA_ID, ORIGIN_PRODUCT_ID, STEP_TYPE_ID, JSON_PATH, SORT_ORDER, SORT_PRIORITY, SEQUENCE_NBR, CREATED_DATE, CHANGED_DATE
  FROM SORT_CRITERIA
  WHERE SORT_CRITERIA_ID = :SORT_CRITERIA_ID
  LIMIT 1
")
#set($delete = "
  DELETE FROM SORT_CRITERIA
  WHERE SORT_CRITERIA_ID = :SORT_CRITERIA_ID
")
{
  "version": "2018-05-29",
  "statements": [
    "$util.escapeJavaScript($preimage)",
    "$util.escapeJavaScript($delete)"
  ],
  "variableMap": {
    ":SORT_CRITERIA_ID": $util.toJson($ctx.args.input.SORT_CRITERIA_ID)
  }
}