#set($insert = "
  INSERT INTO FILTER_CRITERIA
    (ORIGIN_PRODUCT_ID, STEP_TYPE_ID, CRITERIA, SEQUENCE_NBR, CREATED_DATE, CHANGED_DATE)
  VALUES
    (:ORIGIN_PRODUCT_ID, :STEP_TYPE_ID, :CRITERIA, :SEQUENCE_NBR, COALESCE(:CREATED_DATE, NOW()), :CHANGED_DATE)
")
#set($select = "
  SELECT
    FILTER_CRITERIA_ID, ORIGIN_PRODUCT_ID, STEP_TYPE_ID, CRITERIA, SEQUENCE_NBR, CREATED_DATE, CHANGED_DATE
  FROM FILTER_CRITERIA
  WHERE CRITERIA = :CRITERIA
  ORDER BY FILTER_CRITERIA_ID DESC
  LIMIT 1
")
{
  "version": "2018-05-29",
  "statements": [
    "$util.escapeJavaScript($insert)",
    "$util.escapeJavaScript($select)"
  ],
  "variableMap": {
    ":ORIGIN_PRODUCT_ID": $util.toJson($ctx.args.input.ORIGIN_PRODUCT_ID),
    ":STEP_TYPE_ID": $util.toJson($ctx.args.input.STEP_TYPE_ID),
    ":CRITERIA": $util.toJson($ctx.args.input.CRITERIA),
    ":SEQUENCE_NBR": $util.toJson($ctx.args.input.SEQUENCE_NBR),
    ":CREATED_DATE": $util.toJson($util.defaultIfNull($ctx.args.input.CREATED_DATE, null)),
    ":CHANGED_DATE": $util.toJson($util.defaultIfNull($ctx.args.input.CHANGED_DATE, null))
  }
}