{
  "version": "2018-05-29",
  "statements": [
    "SELECT * FROM LOAN_APP_STEP_STATUS ORDER BY LOAN_APP_STEP_STATUS_ID#if($ctx.args.nextToken) OFFSET $ctx.args.nextToken#end#if($ctx.args.limit) LIMIT $ctx.args.limit#end"
  ]
}