{
  "version": "2018-05-29",
  "statements": [
    "SELECT SERVICE_PARAM_MAPPING_ID, ORIGIN_PRODUCT_ID, SYSTEM_NBR, PRIN_NBR, AGENT_NBR, SOURCE_SERVICE_PARAM_ID, TARGET_SERVICE_PARAM_ID, PLASTIC_TYPE_ID, COMMENT_TEXT, CREATED_BY_USER_ID, CREATED_DATE, CHANGED_BY_USER_ID, CHANGED_DATE FROM SERVICE_PARAM_MAPPING LIMIT 100"
  ]
}