{
  "version": "2018-05-29",
  "statements": [
    "SELECT * FROM STEP_TYPE_PARAM_MAP ORDER BY STEP_TYPE_PARAM_MAP_ID#if($ctx.args.nextToken) OFFSET $ctx.args.nextToken#end#if($ctx.args.limit) LIMIT $ctx.args.limit#end"
  ]
}